.DS_Store
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

software/dynamixel_tools/id_scan
software/dynamixel_tools/motor_calibration
software/dynamixel_tools/motor_server
software/dynamixel_tools/set_baud
software/dynamixel_tools/set_baud_all
software/dynamixel_tools/set_id
software/dynamixel_tools/set_limits
software/dynamixel_tools/walk_basic
software/dynamixel_tools/walk_fast

software/wristband_control/gesture_recognition/models/
software/wristband_control/gesture_recognition/training_data/
software/wristband_control/gesture_recognition/*.png
